:root {
	--background: rgb(35, 33, 54);
	--surface: rgb(42, 39, 63);
	--overlay: rgb(57, 53, 82);
	--muted: rgb(110, 106, 134);
	--subtle: rgb(144, 140, 170);
	--text: rgb(224, 222, 244);
	--love: rgb(235, 111, 146);
	--gold: rgb(246, 193, 119);
	--rose: rgb(234, 154, 151);
	--pine: rgb(62, 143, 176);
	--foam: rgb(156, 207, 216);
	--iris: rgb(196, 167, 231);
	--highlight-low: rgb(42, 40, 62);
	--highlight-med: rgb(68, 65, 90);
	--highlight-high: rgb(86, 82, 110);
}

html, body {
	padding: 1rem;
	background: var(--background);
	color: var(--text);
	font-family: 'Roboto', sans-serif;
}

a {
	color: var(--rose);
	text-decoration: none;
	font-weight: 550;
	letter-spacing: 0.02em;
}

h1 {
	margin-bottom: 0.7%;
}

h2, h5 {
	margin-bottom: 0.35%;
	margin-top: 0.35%;
}

#ioslabel {
	color: var(--iris);
	font-size: 1.15em;
	margin-left: 0.15em;
	margin-right: 0.15em;
}

#androidlabel {
	color: var(--foam);
	font-size: 1.15em;
	margin-left: 0.15em;
}

#iowastatelabel {
	color: var(--love);
	font-size: 1.15em;
	margin-left: 0.15em;
	margin-right: 0.15em;
}

#btlabel {
	color: var(--pine);
	font-size: 1.15em;
	margin-left: 0.15em;
	margin-right: 0.15em;
}

.subtitle {
	color: var(--subtle)
}