@import url("colors.css");

html, body {
	padding: 1rem;
	background: var(--background);
	color: var(--text);
	font-family: 'Roboto', sans-serif;
}

a {
	color: var(--rose);
	text-decoration: none;
	font-weight: 550;
	letter-spacing: 0.02em;
}

h1 {
	margin-bottom: 0.7%;
}

h2, h5 {
	margin-bottom: 0.35%;
	margin-top: 0.35%;
}

#ioslabel {
	color: var(--iris);
	font-size: 1.15em;
	margin-left: 0.15em;
	margin-right: 0.15em;
}

#androidlabel {
	color: var(--foam);
	font-size: 1.15em;
	margin-left: 0.15em;
}

#iowastatelabel {
	color: var(--love);
	font-size: 1.15em;
	margin-left: 0.15em;
	margin-right: 0.15em;
}

#btlabel {
	color: var(--pine);
	font-size: 1.15em;
	margin-left: 0.15em;
	margin-right: 0.15em;
}

.subtitle {
	color: var(--subtle)
}