@import url("/colors.css");

body, html {
  background-color: var(--background);
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Video Player */
.centered-iframe {
  width: 100vw;
  height: 50vh;
}

.centered-iframe iframe {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Pomodoro timer */
#timer {
  font-size: 10em;
  font-family: "Roboto", monospace;
  line-height: 1;
  margin-bottom: 0.1em;
  color: var(--muted)
}

#title {
  font-family: "Roboto", sans-serif;
  color: var(--muted)
}

@media only screen and (max-height: 600px) {
  #timer {
    font-size: 6em;
  }

  #subtitle {
    font-size: 1.2em;
  }
}

#subtitle {
  font-family: "Roboto", sans-serif;
  margin-bottom: 0em;
  color: var(--muted);
}

#reset {
  display: none;
  color: var(--overlay);
  border: none;
}

#reset:hover {
  background-color: transparent;
  color: var(--muted);
}

#app {
  width: 100%;
  text-align: center;
  opacity: .7;
}

button {
  background-color: transparent;
  border: 0.15em solid var(--overlay);
  color: var(--muted);
  padding: 1em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.2em 0.1em;
  cursor: pointer;
  border-radius: 0.35em;
  transition-duration: 0.3s;
}

button:hover {
  background-color: var(--overlay);
  color: var(--subtle);
}

@-webkit-keyframes twinkly {
  from {opacity: 1;}
  to {opacity: 0.3;}
}

@-moz-keyframes twinkly {
  from {opacity: 1;}
  to {opacity: 0.3;}
}

@-ms-keyframes twinkly {
  from {opacity: 1;}
  to {opacity: 0.3;}
}

@keyframes twinkly {
  from {opacity: 1;}
  to {opacity: 0.3;}
}

.heartbeat {
  -webkit-animation: twinkly 1s alternate infinite;
  -moz-animation: twinkly 1s alternate infinite;
  -ms-animation: twinkly 1s alternate infinite;
  animation: twinkly 1s alternate infinite;
}
